<div class="w-full max-w-md sm:max-w-xl p-6 bg-gray-900 text-white rounded-2xl space-y-4">
    <h3 class="text-xl font-bold mb-4">{{ isEditMode ? 'Edit' : 'New' }} Family Member</h3>
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <div>
            <label class="label">First Name</label>
            <input class="input" formControlName="first_name" />
        </div>
        <div>
            <label class="label">Last Name</label>
            <input class="input" formControlName="last_name" />
        </div>
        <div>
            <label class="label">DNI</label>
            <input class="input" formControlName="dni" />
        </div>
        <div>
            <label class="label">Relation</label>
            <input class="input" formControlName="relation" />
        </div>
        <div class="flex justify-end gap-3 pt-4">
            <button type="button" class="btn-secondary" (click)="close()">
                <lucide-icon [name]="X" class="w-4 h-4"></lucide-icon>
                Cancel
            </button>
            <button type="submit" class="btn-primary" [disabled]="form.invalid">{{ isEditMode ? 'Update' : 'Create'
                }}</button>
        </div>
    </form>
    </div>